# AWS
AWS_ACCESS_KEY_ID=CHANGEME                
AWS_SECRET_ACCESS_KEY=CHANGEME
AWS_DEFAULT_REGION=us-east-1             
S3_BUCKET=photo-share-6507

# JWT / FastAPI
SECRET_KEY=PUT-A-RANDOM-LONG-STRING-HERE   
TOKEN_EXPIRE_MINUTES=60

# DB (optional)
DATABASE_URL=sqlite:///cloudphoto.db
